.fade-in {
    animation: fadeIn 0.5s ease-in;
    /* width: 100%; */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container {
  width: auto; /* 100% width minus 25px gap on each side */
  margin: 0 auto; /* Center the container */
  max-width: inherit;
}