/* #style the text color to black*/

.b {
   display: flex;
   align-items: center;
   margin: 0;
}

.cardProduct {
    padding-left: 0px;
    padding-right: 0px;          
    /* background-color: rgba(202, 198, 198, 0.2); */
    transition: 0.3s;
    border-radius: 0%;
    width: 20rem;
    padding-top: 0%;
    position: relative;
}

.card-title {
    text-align: left;
    color: rgba(103, 99, 99, 0.499);
    font: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: text-top;
    margin: 0px;
    margin-left: 5px;
}

.card-text {
    text-align: left;
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 400;
    color: black;
}

.card-price {
    text-align: left;
    padding-top: 2%;
    margin-left: 5px;
    text-decoration: solid;
    font-weight: 400;
    color: black;
}

.card-price-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.card-actions {
    display: flex;
    gap: 5px;
}

.quick-view-btn,
.add-to-cart-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
}

.quick-view-btn {
    background-color: #f0f0f000;
    color: #333;
    
}

.add-to-cart-btn {
    background-color: #fcfcfc02;
    color: white;
}

.quick-view-btn:hover,
.add-to-cart-btn:hover {
    opacity: 0.8;
}

 .quick-view-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   width: 30px;
   height: 30px;
 }
 
 .quick-view-icon {
   width: 20px;
   height: 20px;
 }

 .add-to-cart-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   width: 30px;
   height: 30px;
 }
 
 .add-to-cart-icon {
   width: 20px;
   height: 20px;
 }

 .content-container {
   margin-top: 2rem; /* Adjust this value as needed */
 }

.productImg {
  width: 100%;
  height: 0;
  padding-top: 133.33%; /* Maintains the 3:4 aspect ratio */
  position: relative;
  overflow: hidden;
}

.productImg > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}