.filter-sort-breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .filter-sort-buttons {
    display: flex;
    gap: 1rem;
  }

.icon-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
  border-color: rgba(255, 255, 255, 0);
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}

.filter-sort-item {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
  }
  
  .clickable-text {
    color: #6c757d;
    text-decoration: underline;
    transition: color 0.15s ease-in-out;
  }
  
  .clickable-text:hover {
    color: #5a6268;
    text-decoration: underline;
  }
  
  .button-icon {
    width: 20px;
    height: 20px;
    margin-left: 0px;
  }

.breadcrumb-item {
  color: #808080;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb-item.current {
  color: #000000;
  font-weight: bold;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 5px;
  color: #808080;
  font-size: 14px;
}

.breadcrumb {
  margin-left: 38px;
}