.phone {
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.address {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    align-content: center;
}
